.header {
    background-color: rgba(11, 12, 12, 0.89);
    width: 378px;
    height: 92px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  body {
    margin: 0%;
    padding: 0%;
    width: 378px;
  }
  
  /* logo start */
  a {
    text-decoration: none;
    margin-left: 5.2%;
    margin-bottom: 3.5%;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
  }
  
  button {
    margin-left: 22%;
    background-color: #161515;
    border: none;
    outline: none;
  }
  
  i.fa-bars {
    font-size: 20px;
    color: aliceblue;
  }
  
  /* logo end */
  
  /* section start */
  section.explain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    padding-bottom: 50px;
    position: relative;
    left: 0;
    top: 92px;
    background: #1c1a19;
  }
  
  section.explain img {
    margin-left: 59.5%;
    margin-top: -52%;
    height: 380px;
  }
  
  section.explain h1 {
    width: 327px;
    height: 124px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-top: -2%;
  }
  
  section.explain h3 {
    width: 327px;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    margin-top: 1%;
  }
  
  section.explain h5 {
    width: 327px;
    height: 123px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 1%;
  }
  
  div.contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  div.contact ul a {
    float: right;
    font-weight: bold;
    color: aliceblue;
    font-size: 30px;
    margin-top: 30px;
  }
  
  .contact i {
    padding-right: 20px;
  }
  
  /* section explain end */
  
  /* section works start */
  * {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }
  
  div.works {
    background: #fff;
    margin: 0%;
    padding: 0%;
    width: 378px;
    position: relative;
    display: grid;
  }
  
  .title {
    width: 327px;
    height: 83px;
    padding-top: 25%;
    padding-bottom: 5%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    margin-left: 7%;
    margin-top: 0%;
    background-color: #ff6b00;
  }
  
  hr {
    width: 326px;
    height: 0;
    border: 1px solid #313030;
  }
  
  .about hr {
    border: 1px solid #e2dfdf;
  }
  
  div.image {
    width: 327px;
    height: 237px;
    margin-top: 20%;
    margin-left: 6.2%;
    background: url(images/Img\ Placeholder.png);
  }
  
  h2.corner-title {
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-left: 6.5%;
  }
  
  p.content {
    width: 327px;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-left: 6.5%;
  }
  /*
  div.lessons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6.5%;
    margin-bottom: 2%;
    margin-top: -6%;
  }
  div.lessons{
    background: #e05304;
  }
  
  div.lessons div {
    box-sizing: border-box;
    padding: 10px 12px;
     
    background: #fff;
    border: 1px solid #8993a4;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  
  }
  */
  div.lessons{
    background: skyblue;
  }
  div.html {
    background: sandybrown;
  
    width: 56px;
    float: right;
  }
  
  div.css {
    width: 56px;
    height: 20px;
    float: left;
    margin-left:3%;
  }
  
  div.bootstrap {
    width: 95px;
    height: 20px;
    float: center;
  }
  
  div.ruby {
    width: 56px;
    height: 20px;
    float: right;
  }
  
  button.see {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    margin-left: 6.5%;
    margin-bottom: 50px;
  }
  
  button.see:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }
  
  button.see:active {
    background: #e05304;
    color: #fff5e1;
  }
  
  button.see:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }
  
  /* profitional part */
  div.subjects {
    position: relative;
    background: #fff;
  }
  
  div.profesional {
    margin: 0%;
    padding: 0%;
    margin-left: 3%;
    width: 330px;
    height: 386px;
    position: absolute;
    background-image: url(images/Img\ Placeholder1.png);
  }
  
  div.profesional h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #f1f3f7;
    margin-left: 6.5%;
    margin-top: 80px;
  }
  
  .profesional p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f1f4f8;
    margin-left: 6.5%;
    margin-top: -15px;
  }
  
  div.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  
  div.language span {
    box-sizing: border-box;
    padding: 10px 12px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }
  
  button.see-project {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    width: 330px;
    margin-left: 0%;
  }
  
  button.see-project:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }
  
  button.see-project:active {
    background: #e05304;
    color: #fff5e1;
  }
  
  button.see-project:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }
  
  div.p-2 {
    margin-top: 444px;
  }
  
  div.p-3 {
    margin-top: 888px;
  }
  
  div.p-4 {
    margin-top: 1332px;
  }
  
  div.p-5 {
    margin-top: 1776px;
  }
  
  div.p-6 {
    margin-top: 2220px;
    margin-bottom: 100px;
  }
  
  /* section works end */
  
  /* section about start */
  .about {
    position: absolute;
    width: 378px;
    height: 1801px;
    left: 0;
    top: 4500px;
    background: #1c1a19;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  section.about h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #ff6b00;
    margin-top: 40%;
  }
  
  .about p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f1f4f8;
    margin-left: -4%;
    margin-top: -30px;
    width: 320px;
  }
  
  button.get {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    margin-left: -47.5%;
    margin-bottom: 50px;
  }
  
  button.get:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }
  
  button.get:active {
    background: #e05304;
    color: #fff5e1;
  }
  
  button.get:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }
  
  .about-img {
    width: 180px;
    margin-top: -140px;
    margin-left: 198px;
  }
  
  span.lang {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #fcfcfd;
    margin-top: -30px;
    display: inline-block;
  }
  
  .rectangle {
    width: 14px;
    height: 14px;
    margin-left: -160px;
    margin-top: 70px;
    background: #ff6b00;
    transform: rotate(-45deg);
  }
  
  section.about ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  
  .about ul li {
    padding: 15%;
    color: #d7dde4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 10%;
  }
  
  .square {
    width: 14px;
    height: 14px;
    background: #ff6b00;
    margin-left: -180px;
    margin-top: 20px;
  }
  
  .circle {
    width: 14px;
    height: 14px;
    background: #ff6b00;
    border-radius: 150px;
    margin-left: -110px;
    margin-top: 20px;
  }
  
  span.frame {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #fcfcfd;
    margin-top: -21.5px;
    display: inline-block;
  }
  
  span.skill {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #fcfcfd;
    margin-top: -21.5px;
    display: inline-block;
  }
  
  /* section about end */
  